body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a{
		text-decoration: unset !important;
		color: whitesmoke !important;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: invert(20%);
}

.viewport-header {
  position: relative;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainHeader{
	position: relative;
	margin-top: 7%;
	color: whitesmoke;
	font-size: clamp(2.5rem, 4.5vw, 4.5rem); 
	font-family: 'Berkshire Swash', serif;
/*	font-family: 'Great Vibes', cursive;*/
}

.mainHeader::after{
		background-image: url('../img/column_8178271.png');
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
}

h3{
	color: whitesmoke;
}

h5{
	color: whitesmoke;
}

footer{
	position: relative;
	height: 10vh;
}

.buttonDiv {
	width: 60%;
}
.but {
	border: 2px solid whitesmoke;
	width: 182px;
	height: 67px;
	background-color: unset;
	color: whitesmoke;
	transition: all ease 1.5s;
}

#but1{
	margin: 5%;
}

#but2{
	margin: 5%;
}

.but:hover{
	background-color: #f93822;
	border: #f93822;
}

.footerContent {
	width: 100%;
	padding: 0 2%;
	display: flex;
	justify-content: right;
}
.massanger {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 1.5s;
	cursor: pointer;
	animation-name: massangerAnimation;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	z-index: 1;
}


path{
	fill: red;
}



@keyframes massangerAnimation {
	0%   {scale: 1}
  50%  {scale: 1.1}
  100% {scale: 1}
}

.massageWindow{
	position: absolute;
	border-radius: 18px;
	padding: .300%;
	margin-top: -320px;
	
	width: 0px;
	height: 0px;
	border: 1px solid whitesmoke;
	visibility: hidden;
	transition: all ease .100s;
}

.massageWindowAfter{
	margin-right: -10px;
	width: 390px;
	height: 400px;
	background-image: url('../img/pngegg (4).png');
	background-size: 100% 100%;
	background-position: center;
	visibility: visible;
	z-index: 5;
}

.close{
	margin-top: 2% !important;
	margin-right: 2% !important;
	color: whitesmoke !important;
	font-weight: 500 !important;
	opacity: .8 !important;
	cursor: pointer;
}

.boxForMassangerAndEmail {
	display: flex;
	width: 100%;
	height: 90%;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}
.massengerLink {
	font-style: italic;
	font-weight: 900;
	margin-top: 130px;
	text-shadow: 1px 1px #f93822;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4px;
}

.massengerLink:hover{
	text-decoration: underline;
	text-decoration-color: #f93822;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.massengerLink::before{
		background-image: url('../img/10186827_messanger_icon.png');
    background-size: 35px 35px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
    width: 35px; 
    height: 35px;
    content:"";
}

.emailLink {
	font-style: italic;
	font-weight: 900;
	text-shadow: 1px 1px #f93822;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emailLink:hover{
	text-decoration: underline;
	text-decoration-color: #f93822;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.emailLink::before{
		background-image: url('../img/4550857_email_gmail_mail_sending_yahoo_icon.png');
    background-size: 35px 35px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
    width: 35px; 
    height: 35px;
    content:"";
}

.iconMassageBox {
	position: absolute;
	border: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-top-left-radius: 50%;
	border-top-right-radius: 10% 10%;
	border-bottom-left-radius: 10% 10%;
	background-color: #f93822;
}
.iconMassage {
	position: absolute;
	color: whitesmoke;
	left: 7px;
		rotate: -18deg;
	font-size: clamp(1.5rem, 3.5vw, 3.5rem); 
	font-family: 'Berkshire Swash', serif;
}


.hours_open {
	border: 1px solid whitesmoke;
	background-color: #f93822;
	border-radius: 10px;
	width: 100%;
	margin-top: 60px;
	padding-left: 100px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	z-index: 5;
}
.hours_header {
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.monday_friday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.saturday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.sunday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
