body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a{
		text-decoration: unset !important;
		color: whitesmoke !important;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: invert(20%);
}

#spin{
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

}

.sp{
	z-index: 1000;
}

.viewport-header {
  position: relative;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainHeader{
	position: relative;
	margin-top: 8%;
	color: #e2e2e2;
	text-align: center;
	font-size: clamp(2.5rem, 4.5vw, 4.5rem); 
	font-family: 'Berkshire Swash', serif;
/*	font-family: 'Great Vibes', cursive;*/
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 5s linear infinite;
	margin-bottom: 3%;
}


@keyframes animate{
	0%, 18%, 20%, 30.1%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
	{
		color: #ffffff;
		text-shadow: none;
	}

	18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1% ,100%
	{
		color: #f8f8f8;
		text-shadow: 0 0 10px #080a0a,
		0 0 20px #0f1111,
		0 0 40px #040505,
		0 0 80px #21282b,
		0 0 160px #111516
		;
	}
}

.mainHeader::after{
	background-image: url('../img/column_8178271.png');
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
}

h3{
	color: whitesmoke;
}

h5{
	color: whitesmoke;
}

footer{
	position: relative;
	height: 10vh;
}

.buttonDiv {
	width: 60%;
}
.but {
	border: 2px solid whitesmoke;
	width: 182px;
	height: 67px;
	background-color: unset;
	color: whitesmoke;
	transition: all ease 1.5s;
	box-shadow: 1px 1px 6px whitesmoke;
}

#but1{
	margin: 5%;
}

#but2{
	margin: 5%;
}

.but:hover{
	background-color: #f93822;
	border: #f93822;
}

.footerContent {
	width: 100%;
	padding: 0 2%;
	display: flex;
	justify-content: right;
}
.massanger {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 1.5s;
	cursor: pointer;
	animation-name: massangerAnimation;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	z-index: 1;
}


path{
	fill: red;
}



@keyframes massangerAnimation {
	0%   {scale: 1}
  50%  {scale: 1.1}
  100% {scale: 1}
}

.massageWindow{
	position: absolute;
	border-radius: 18px;
	border: 1px solid whitesmoke;
	transition: all ease .8s;
	margin-top: -330px;
	padding: 1%;
	background-image: url('../img/pngegg (4).png');
	background-size: 120% 120%;
	background-position: center;
	z-index: 5;
	transform: translate(0, 120%);
	opacity: 0;
}



.massageWindow.show{
	transform: translate(0, 0%);
	opacity: 1;
}


.close{
	margin-top: 2% !important;
	margin-right: 2% !important;
	color: whitesmoke !important;
	font-weight: 500 !important;
	opacity: .8 !important;
	cursor: pointer;
}

.boxForMassangerAndEmail {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}
.massengerLink {
	font-style: italic;
	font-weight: 900;
	margin-top: 130px;
	text-shadow: 1px 1px #f93822;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4px;
}

.massengerLink:hover{
	text-decoration: underline;
	text-decoration-color: #f93822;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.massengerLink::before{
		background-image: url('../img/10186827_messanger_icon.png');
    background-size: 35px 35px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
    width: 35px; 
    height: 35px;
    content:"";
}

.emailLink {
	font-style: italic;
	font-weight: 900;
	text-shadow: 1px 1px #f93822;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emailLink:hover{
	text-decoration: underline;
	text-decoration-color: #f93822;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.emailLink::before{
		background-image: url('../img/4550857_email_gmail_mail_sending_yahoo_icon.png');
    background-size: 35px 35px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
    width: 35px; 
    height: 35px;
    content:"";
}

.iconMassageBox {
	position: absolute;
	border: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-top-left-radius: 50%;
	border-top-right-radius: 10% 10%;
	border-bottom-left-radius: 10% 10%;
	background-color: #f93822;
}
.iconMassage {
	position: absolute;
	color: whitesmoke;
	left: 7px;
		rotate: -18deg;
	font-size: clamp(1.5rem, 3.5vw, 3.5rem); 
	font-family: 'Berkshire Swash', serif;
}


.hours_open {
	border: 1px solid whitesmoke;
	background-color: #f93822;
	border-radius: 10px;
	width: 100%;
	margin-top: 60px;
	padding-left: 100px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	z-index: 5;
}
.hours_header {
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.monday_friday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.saturday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}
.sunday {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: whitesmoke;
}